body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.main-container {
    width: 80vw;
    margin: auto;
    background: #ffffff;
    padding: 20px;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
}

.header {

    margin-top: 100px;
    margin-bottom: -50px;
}

.header h1 {
    color: #ff5722;
    font-size: 24px;
   
    margin-bottom: 5px;
}

.header p {
    color: #757575;
    font-size: 16px;
}

.refer-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}

.referral-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ff5722;
    border-radius: 5px;
    padding: 10px;
    background: #fff7f2;
   
}

.referral-box span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.referral-box button {
    padding: 8px 12px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.referral-box button:hover {
    background-color: #e64a19;
}

.reward-info h3 {
    color: #333;
    margin-bottom: 10px;
}

.reward-info ul {
    list-style: none;
    padding: 0;
    text-align: left;
    color: #757575;
    font-size: 14px;
}

.reward-info ul li {
    margin-bottom: 5px;
    padding-left: 10px;
    text-indent: -10px;
}

.reward-info ul li::before {
    content: "•";
    color: #ff5722;
    font-weight: bold;
    margin-right: 5px;
}

.share-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.share-btn:hover {
    background-color: #e64a19;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    min-height: 100vh;
    background-color: #f0edec;
    background-size: cover;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}
.card2{
    display: flex;
    justify-content: center;
    width: 90vw;
  
    align-items: center;

}
.main-container2{
    max-width: 70vw;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    height: 55vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#share-buttons a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}
#share-buttons img {
    width: 50px;
    height: 50px;
}
.msg{
    color: red;
    font-family:  monospace;
    font-size: 30px;
}
.ic{
    font-size: 25px;
   color: green;

}

.tw{
    color: black;
    font-size: 25px;
}
.ln{
    font-size: 25px;
}
.ins{
    color: red;
    font-size: 25px;
}
video{
    height: 30vh;
    width: 100vw;
}
.second{
    display: flex;
    width: 30vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    flex-direction: column;
    
 
}
.first{
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
   
   
}
.im{
    width: 50vw;
    
    margin-left: -30px;
    margin-top: 50px;
    margin-right: -120px;
}
.ims{
    width: 52vw;
    height: 40vh;
    margin-top: 50px;
    margin-left: -370px;
    position: relative;
    animation: mymove 3s;
    animation-iteration-count: 1;
  
}

      
@keyframes mymove {
        from {top: 200px;}
        to {top: 0px;}
      }

.imsd{
    width: 48vw;
    height: 40vh;
    margin-top: -250px;
    margin-left: -10px;
 
   
}
.cards{
    width: 60vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-image: url("https://img.imgdd.com/f210f3.609e7cd5-7e37-4716-8d29-9fbd619cabcf.png");
}
.one{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  
}
.heading{
    margin-top: -160px;
    font-size: 55px;
    font-family: "Source Sans Pro";
    text-align: left;
    font-weight: bold;
    color:#095A66;
    text-shadow: 2px 1px #A3A3A3;
}
.heading2{
    margin-top: -10px;
    font-size: 55px;
    color: rgb(36, 235, 196);
    text-align: left;
    
}
.pa{
    font-size: 35px;
    margin-top: -10px;
    font-family: roboto;
    text-align: left;
    font-weight: bold;
    color:#f76565;
}
.vid{
    display: flex;
    align-items: flex-start;
   
}
.final{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.para{
    margin-bottom: -20px;
}

.faq-container {
    max-width: 800px;
    margin: 2rem auto;
    background: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   

}
.he{
    color: #464444;
    font-size: 20px;
    font-family: sans-serif;
}
.faq-item {
    margin-bottom: 1rem;

   
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    background-color: #f3eeee;
    text-align: left;
    color: #111111;

    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    line-height: 2.2;
   
}


.faq-question:hover {
    background-color: #a7bfd7;
   
}

.faq-answer {
    display: none;
    padding: 0.75rem;
    background-color: #f1f1f1;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 0.5rem;
    text-align: left;
   
    

   
}

.faq-answer.visible {
    display: block;
   
}





ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.unord{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
span{
    color: rgb(105, 87, 244);
}




.promo{
    margin: 20px;
    border: dashed;
    background-color: #e4e2a6;
    width: 10vw;
    height: 5vh;
    text-align: center;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}





h1 {
    text-align: center;
    color: #4CAF50;
}



.low{
    height: 10vh;
}
p{
    font-family: roboto;
    margin-left: 20px;
}
a{
    margin-left: 20px;
   
}
.par{
    font-size: 15px;
    text-align: center;
    color: #040404;
    font-family: roboto;
}
.fin{
    border: 2px solid grey;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    color: #424141;
}
.below{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  img {

 
    position: relative;
    animation: myfirst 5s 1;
    animation-direction: alternate;
  }
  
  @keyframes myfirst {
    0%   {background: transparent; left: -200px; top: 0px;}
    25%  {background: transparent; left: 0px; top: 0px;}
  
  }
  .vid{
    width: 80vw;
    background-color: transparent;
    height: 40vh;
  }